In [1]:
import pandas as pd
import os 
import numpy as np
import re

In [2]:
doc_names = os.listdir('/Users/liuyiwu/534/data/')
doc_names = sorted(doc_names)
doc_names_78 = doc_names[-10:]

In [3]:
df_dict = {}
df_names = ["df78", "df79", "df80", "df81", "df82", "df83", "df84", "df85", "df86", "df87"]
for i in range(10):
    df_dict[df_names[i]] = pd.read_csv('/Users/liuyiwu/534/data/' + doc_names_78[i], encoding='latin1')

## 78 & 77 Ground Floor

In [4]:
df78 = df_dict["df78"]
df78.head(10)

,Site,Level,ClientMacAddr,lat,lng,localtime
0,UK Office,Ground Floor,10:02:b5:e3:09:a4,51.460467,-0.932293,2019-10-28 15:20:46.027 UTC
1,UK Office,Ground Floor,94:27:90:f8:41:0e,51.460461,-0.932282,2019-10-28 15:20:46.027 UTC
2,UK Office,Ground Floor,9c:da:3e:69:cc:56,51.460862,-0.932297,2019-10-28 15:20:45.726 UTC
3,UK Office,Ground Floor,4c:34:88:bd:ff:24,51.460883,-0.932276,2019-10-28 15:20:45.726 UTC
4,UK Office,Ground Floor,a4:c3:f0:a1:fb:b7,51.460617,-0.932323,2019-10-28 15:20:45.63 UTC
5,UK Office,Ground Floor,90:61:ae:25:4f:7c,51.460623,-0.932314,2019-10-28 15:20:45.63 UTC
6,UK Office,Ground Floor,90:61:ae:25:4a:4a,51.460809,-0.932260,2019-10-28 15:20:45.624 UTC
7,UK Office,Ground Floor,98:10:e8:3a:fc:1f,51.460598,-0.932394,2019-10-28 15:20:45.361 UTC
8,UK Office,Ground Floor,9c:da:3e:7e:f8:ab,51.460670,-0.932359,2019-10-28 15:20:45.361 UTC
9,UK Office,Ground Floor,9c:da:3e:7e:f9:14,51.460524,-0.932386,2019-10-28 15:20:45.361 UTC

In [5]:
df78_f = []
df78_m = []

for mac_id in df78["ClientMacAddr"].unique():
    id_df = df78[df78['ClientMacAddr'] == mac_id]
    
    if len(id_df["lat"].unique()) == 1 and len(id_df["lng"].unique()) == 1:
        df78_f.append(id_df)
    else:
        df78_m.append(id_df)

df78_fix = pd.concat(df78_f)
df78_mob = pd.concat(df78_m)

In [12]:
df78_fix.to_csv('/Users/liuyiwu/534/fixed_mobile/uk_78_fixed.csv',index=False)
df78_mob.to_csv('/Users/liuyiwu/534/fixed_mobile/uk_78_mobile.csv',index=False)

In [44]:
df78_mob.shape

(3474852, 6)

In [ ]:
def fix_mobile(df):
    fix_list = []
    mobile_list = []
    for mac_id in df["ClientMacAddr"].unique():
        id_df = df[df['ClientMacAddr'] == mac_id]
        
        ### check if latitude and longitude ever changed in the data
        if len(id_df["lat"].unique()) == 1 and len(id_df["lng"].unique()) == 1:
            fix_list.append(id_df)
        else:
            mobile_list.append(id_df)
    
    df_fix = pd.concat(fix_list)
    df_mobile = pd.concat(mobile_list)
    
    return df_fix, df_mobiles

## 33

In [21]:
df77 = pd.read_csv('/Users/liuyiwu/534/data/uk_obs_coordinates_000000000077.csv', encoding='latin1')
df76 = pd.read_csv('/Users/liuyiwu/534/data/uk_obs_coordinates_000000000076.csv', encoding='latin1')
df75 = pd.read_csv('/Users/liuyiwu/534/data/uk_obs_coordinates_000000000075.csv', encoding='latin1')
df33 = pd.read_csv('/Users/liuyiwu/534/data/uk_obs_coordinates_000000000033.csv', encoding='latin1')

array(['Ground Floor'], dtype=object)

In [28]:
df33 = pd.read_csv('/Users/liuyiwu/534/data/uk_obs_coordinates_000000000033.csv', encoding='latin1')
                   
df33_f = []
df33_m = []

for mac_id in df33["ClientMacAddr"].unique():
    id_df = df33[df33['ClientMacAddr'] == mac_id]
    
    if len(id_df["lat"].unique()) == 1 and len(id_df["lng"].unique()) == 1:
        df33_f.append(id_df)
    else:
        df33_m.append(id_df)

df33_fix = pd.concat(df33_f)
df33_mob = pd.concat(df33_m)

In [29]:
df33_fix.to_csv('/Users/liuyiwu/534/fixed_mobile/uk_33_fixed.csv',index=False)
df33_mob.to_csv('/Users/liuyiwu/534/fixed_mobile/uk_33_mobile.csv',index=False)

In [45]:
df33_fix.head(10)

,Site,Level,ClientMacAddr,lat,lng,localtime
12,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:59:36.655 UTC
253,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:59:28.898 UTC
464,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:59:17.527 UTC
759,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:59:02.374 UTC
785,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:58:59.627 UTC
1145,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:58:47.18 UTC
1295,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:58:35.918 UTC
1520,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:58:29.268 UTC
1646,UK Office,2nd Floor,24:46:c8:b9:89:2f,51.460833,-0.932392,2020-02-26 16:58:19.15 UTC
103,UK Office,2nd Floor,24:46:c8:a5:13:da,51.460820,-0.932255,2020-02-26 16:59:34.938 UTC

## 60

In [31]:
df60 = pd.read_csv('/Users/liuyiwu/534/data/uk_obs_coordinates_000000000060.csv', encoding='latin1')
df60.head(10)

,Site,Level,ClientMacAddr,lat,lng,localtime
0,UK Office,3rd Floor,94:27:90:f6:1e:93,51.460454,-0.932743,2019-09-04 10:05:57.276 UTC
1,UK Office,3rd Floor,28:3a:4d:31:a1:8d,51.460448,-0.932367,2019-09-04 10:05:57.276 UTC
2,UK Office,3rd Floor,cc:44:63:3e:18:7f,51.460392,-0.932495,2019-09-04 10:05:56.778 UTC
3,UK Office,3rd Floor,5c:5f:67:8b:1c:08,51.460456,-0.932675,2019-09-04 10:05:56.681 UTC
4,UK Office,3rd Floor,6c:96:cf:a1:9a:e1,51.460422,-0.933036,2019-09-04 10:05:56.681 UTC
5,UK Office,3rd Floor,5c:5f:67:8b:1b:c7,51.460468,-0.932716,2019-09-04 10:05:56.673 UTC
6,UK Office,3rd Floor,5c:5f:67:8c:09:56,51.460468,-0.932831,2019-09-04 10:05:56.673 UTC
7,UK Office,3rd Floor,9c:da:3e:80:29:15,51.460484,-0.932827,2019-09-04 10:05:56.673 UTC
8,UK Office,3rd Floor,58:e2:8f:86:64:97,51.460446,-0.932555,2019-09-04 10:05:56.473 UTC
9,UK Office,3rd Floor,f4:0e:22:b7:d5:d9,51.460487,-0.932466,2019-09-04 10:05:56.275 UTC

In [32]:
df60_f = []
df60_m = []

for mac_id in df60["ClientMacAddr"].unique():
    id_df = df60[df60['ClientMacAddr'] == mac_id]
    
    if len(id_df["lat"].unique()) == 1 and len(id_df["lng"].unique()) == 1:
        df60_f.append(id_df)
    else:
        df60_m.append(id_df)

df60_fix = pd.concat(df60_f)
df60_mob = pd.concat(df60_m)

df60_fix.to_csv('/Users/liuyiwu/534/fixed_mobile/uk_60_fixed.csv',index=False)
df60_mob.to_csv('/Users/liuyiwu/534/fixed_mobile/uk_60_mobile.csv',index=False)

## Building Outline

In [34]:
import matplotlib.path as mplPath

In [40]:
### coordinates of buidling corners
A = (51.460992, -0.932527)
B = (51.460974, -0.932221)
C = (51.460372, -0.932330)
D = (51.4603793, -0.9325104)
E = (51.4603065, -0.932512767)
F = (51.460319, -0.93277662)
G = (51.46039267, -0.9327584)
H = (51.46041072, -0.93330523)
I = (51.460599, -0.933280)
J = (51.46056646, -0.93259148)

poly = [A,B,C,D,E,F,G,H,I,J]
poly_path = mplPath.Path(poly)

D = (51.457, -0.93236)
poly_path.contains_points([D])

array([False])